name: Validate Python Code

on:
  push:
    branches:
      - main

jobs:
  validate-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'  # adjust if needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install flake8 pytest

      
      - name: Run tests with pytest
        run: |
          # exit on failing tests
          pytest -vv
